<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-01.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Welcome to MedWire </h2>
          <p class="auth-signup-text text-muted">Need an account?<a routerLink="/authentication/signup"
              class="sign-up-link">Sign Up
            </a></p>
          <div class="d-flex justify-content-between lbl-alert mb-3 row">

            <div class="col-lg-3 col-md-4 col-5 mt-2">
              <button mat-raised-button color="primary" type="button" (click)="patientSet();">Patient</button>
            </div>
            <!-- <div>
                <button mat-raised-button color="primary" type="button" (click)="adminSet();">Admin</button>
              </div> -->
            <div class="col-lg-3 col-md-4 col-5 mt-2">
              <button mat-raised-button color="accent" class="patientBtn" type="button"
                (click)="laboraterySet();">Laboratory </button>
            </div>

            <div class="col-lg-3 col-md-4 col-5 mt-2">
              <button mat-raised-button color="warn" type="button" (click)="radiologySet();">Radiology</button>
            </div>

            <div class="col-lg-3 col-md-4 col-5 mt-2 clinicBtn">
              <button mat-raised-button color="primary" type="button" (click)="clinicSet();">Clinic/Hospital</button>
            </div>

            <div *ngIf="roleBtnCondition" class="row d-flex">
              <div class="col-lg-3 col-md-4 col-5 mt-2">
                <button mat-raised-button color="accent" type="button" (click)="doctorSet();">Doctor</button>
              </div>
              <div class="col-lg-3 col-md-4 col-5 mt-2 staffBtn">
                <button mat-raised-button color="primary" type="button" (click)="operatorSet();">Staff</button>
              </div>
              <!-- <div class="col-lg-3 col-md-4 col-5 mt-2">
                <button mat-raised-button color="primary" type="button" (click)="prescriptionW();">Prescription Writer</button>
              </div> -->
            </div>

          </div>
          <h2 class="login-title mt-5">Sign in as a {{userType}}</h2>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 user_role_input">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>User Role ID</mat-label>
                  <input matInput formControlName="roleid">
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email ID/Mobile No.</mat-label>
                  <input matInput formControlName="username" autocomplete="off" />
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                    Email ID/Mobile No. is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
                  <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                  <mat-error *ngIf="authForm.get('password').hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-5">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" [checked]="checkedValueFirst"
                    formControlName="rememberme"> Remember me
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              <a class="txt1" routerLink="/authentication/forgot-password/{{user_role_id}}">Forgot Password?</a>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-3">{{error}}</div>
            <div class="container-auth-form-btn">
              <div style="text-align:center">
                <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"
                  class="auth-form-btn" type="submit">Login</button>
              </div>
            </div>
          </form>
          <!-- <h6 class="social-login-title">OR</h6>
          <ul class="list-unstyled social-icon mb-0 mt-3">
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                <i class="fab fa-google"></i>
              </a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded flex-c-m">
                <i class="fab fa-facebook-f"></i>
              </a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                <i class="fab fa-twitter"></i>
              </a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded">
                <i class="fab fa-linkedin-in"></i>
              </a></li>
          </ul> -->
        </div>
      </div>
    </div>

  </div>
</div>