<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-03.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <div class="row  lbl-alert mb-3">
            <div class="col-lg-3 col-md-4 col-4 mt-2">
              <button mat-raised-button color="primary" type="button" (click)="patientSet();">Patient</button>
            </div>
            <div class="col-lg-3 col-md-4 col-4 mt-2">
              <button mat-raised-button color="accent" class="patientBtn" type="button" (click)="laboratorySet();">Laboratory </button>
            </div>
            <div class="col-lg-3 col-md-4 col-4 mt-2 radioBtn">
              <button mat-raised-button color="warn" type="button" (click)="radiologySet();">Radiology</button>
            </div>
            <div class="col-lg-3 col-md-4 col-5 mt-2 clinicBtn">
              <button mat-raised-button color="primary" type="button" (click)="clinicSet();">Clinic/Hospital</button>
            </div>
          </div>
          <div class="row" *ngIf="roleButtonShow">
            <div class="col-lg-3 col-md-4 col-4 mt-2">
              <button mat-raised-button color="accent" type="button" (click)="doctorSet();">Doctor</button>
            </div>
            <div class="col-lg-3 col-md-4 col-4 mt-2 staffBtn">
              <button mat-raised-button color="primary" type="button" (click)="staffSet();">Staff</button>
            </div>
            <!-- <div class="col-lg-3 col-md-4 col-5 mt-2 writerBtn">
              <button mat-raised-button color="primary" type="button" (click)="prescriptionW();">Prescription Writer</button>
            </div> -->
            
          </div>

          <h2 class="welcome-msg mt-5"> Forgot Password as a {{userType}} </h2>
          <!-- <p class="auth-signup-text text-muted">Let Us Help You</p> -->
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
            <div class="row">
             
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <!-- <span class="error-subheader2 p-t-20 p-b-15">
                  Enter your registered email address.
                </span> -->
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email ID/Mobile No.</mat-label>
                  <input matInput formControlName="email" required autocomplete="off">
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                    Email ID/Mobile No. is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="success_message"  class="alert alert-success alert-dismissible">
              <strong> OTP sent Successfully ! </strong>
            </div>
            <p *ngIf="error_message" class="alert alert-danger alert-dismissible">
              <strong>{{error_text}} </strong>
            </p> 
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                Send OTP
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin/{{userRole_id}}" class="txt1">
                  Login?
                </a>
              </div>
            </div>
          </form>
          
        </div>
      </div>
    </div>

  </div>
</div>
