<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Prescription and Report'"></app-breadcrumb>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix remov_scroll">
            <div class="col-lg-12 col-md-12">
                <div class="card tab_section">
                    <mat-tab-group [selectedIndex]="tabIndex">
                        <mat-tab >
                            <ng-template mat-tab-label>
                                <div class="tabColor font-14">History & Symptoms</div>
                            </ng-template>
                            <div class="body changePswrd p-4">
                                <app-history-tab></app-history-tab>
                            </div>
                        </mat-tab>
                        <mat-tab >
                            <ng-template mat-tab-label>
                                <div class="tabColor font-14">Vitals</div>
                            </ng-template>
                            <div class="body changePswrd p-4">
                                <app-healthstatus-tab></app-healthstatus-tab>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tabColor font-14">Examination Findings</div>
                            </ng-template>
                            <div class="body changePswrd p-4">
                                 <app-prescribe-tab></app-prescribe-tab>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tabColor font-14">Diagnostic Test</div>
                            </ng-template>
                            <div class="body changePswrd p-4">
                                <app-diagnostic-tab></app-diagnostic-tab>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tabColor font-14">Advice</div>
                            </ng-template>
                            <div class="body changePswrd p-4">
                                <app-advice-tab></app-advice-tab>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tabColor font-14">Drugs</div>
                            </ng-template>
                            <div class="body changePswrd p-4">
                                <app-drugs-tab></app-drugs-tab>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tabColor font-14">Follow Up</div>
                            </ng-template>
                            <div class="body changePswrd p-4">
                                <app-follow-up-tab></app-follow-up-tab>
                            </div>
                        </mat-tab>
                        
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tabColor font-14">Final Submit</div>
                            </ng-template>
                            <div class="body changePswrd p-4">
                                <button class="btn-space" mat-raised-button color="primary" [class.auth-spinner]="loading "  (click)="finalSubmitReport()" >Final Submit / Generate PDF</button>
                            </div>
                        </mat-tab>
                        
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>