<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Edit Patient'"></app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2><strong>Edit Patient</strong></h2>
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="editpatientForm" >
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput formControlName="firstname" required >
                      <mat-error *ngIf="editpatientForm.get('firstname').hasError('required')">
                        First Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input matInput formControlName="lastname" required >
                      <mat-error *ngIf="editpatientForm.get('lastname').hasError('required')">
                        Last Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Sex</mat-label>
                      <mat-select formControlName="gender" required >
                        <mat-option [value]="'Male'">
                          Male
                        </mat-option>
                        <mat-option [value]="'Female'">
                          Female
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="editpatientForm.get('gender').hasError('required')">
                        Sex is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Mobile Number</mat-label>
                      <input matInput formControlName="mobile" type="number" required >
                      <mat-error *ngIf="editpatientForm.get('mobile').hasError('required')">
                        Mobile Number is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Email Address</mat-label>
                      <input matInput formControlName="email" type="email" required >
                      <mat-error *ngIf="editpatientForm.get('email').hasError('required')">
                        Email Address is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Adhar Card Number</mat-label>
                      <input matInput formControlName="adharcardno" type="number" required >
                      <mat-error *ngIf="editpatientForm.get('adharcardno').hasError('required')">
                        Adhar Card Number is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Date Of Birth</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="dob" required >
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="editpatientForm.get('dob').hasError('required')">
                        Please select date
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Upload Image</mat-label>
                      <ngx-mat-file-input formControlName="uploadImg" required>
                      </ngx-mat-file-input> 
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Area Pincode</mat-label>
                      <input matInput formControlName="pincode" type="number" required >
                      <mat-error *ngIf="editpatientForm.get('pincode').hasError('required')">
                        Area Pincode is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Address</mat-label>
                        <textarea matInput formControlName="address" required></textarea>
                        <mat-error *ngIf="editpatientForm.get('address').hasError('required')">
                           Address is required
                        </mat-error>
                     </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button class="btn-space"  mat-raised-button
                      color="primary" [disabled]="!editpatientForm.valid ">Submit</button>
                    <button type="button" mat-button [routerLink]="['../patient-list']">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>