<section class="content">
    <div class="content-block">
       <div class="block-header">
          <!-- breadcrumb -->
          <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Prescription Footer'"></app-breadcrumb>
       </div>
       <div class="row clearfix">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
             <div class="card">
                <div class="header mx-4">
                   <h2><strong>Prescription Footer</strong></h2>
                </div>
                <div class="body">
                   <form class="m-4" [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">
                   <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Clinic Address</mat-label>
                                <input matInput type="text" [(ngModel)]="clinic_address" formControlName="clinic_address" required >
                                <mat-error *ngIf="prescriptionForm.get('clinic_address').hasError('required')">
                                Clinic address is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                   </div>
                   <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                         <button class="btn-space"  mat-raised-button
                            color="primary" [disabled]="!prescriptionForm.valid ">Save</button>
                         <!-- <button type="button" mat-button [routerLink]="['../doctor-list']">Cancel</button> -->
                      </div>
                   </div>
                   </form>
                </div>
                <div class="body">
                   <div class="row m-4">
                      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
                         <h6>Clinic Address</h6>
                         <p>{{clinic_address}}</p>
                      </div>
                    </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>