<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'New Visits'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <!-- <div class="header">
            <h2>
              <strong>Stepper Horizontal</strong>
            </h2>
          </div> -->
          <div class="body">
            <mat-horizontal-stepper [linear]="isLinear" #stepper>
              <mat-step [stepControl]="HFormGroup1">
                <form [formGroup]="HFormGroup1" (ngSubmit)="onSubmit('HFormGroup1.value')">
                  <ng-template matStepLabel>Enter Mobile Number</ng-template>
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput type="number" formControlName="mobile" required autocomplete="off">
                    <mat-icon matSuffix>phone</mat-icon>
                  </mat-form-field>
                  <!-- <div class="saveBtn">
                    <button mat-raised-button matStepperNext color="primary"
                      [disabled]="!HFormGroup1.valid" type="submit">Next</button>
                      <button mat-raised-button matStepperPrevious color="warn" class="msr-2"
                      [routerLink]="['/radiology/radiology-visits']">Cancel</button>
                  </div> -->
                  <div class="saveBtn">
                    <button mat-raised-button matStepperPrevious color="warn" class="msr-2 cancel-btn-align"
                      [routerLink]="['/radiology/radiology-visits']">Cancel</button>
                    <button mat-raised-button matStepperNext color="primary" [disabled]="!HFormGroup1.valid">Next</button>
                  </div>

                </form>
              </mat-step>
              <!-- <mat-step [stepControl]="HFormGroup2">
                <form [formGroup]="HFormGroup2">
                  <ng-template matStepLabel>Select Patient</ng-template>
                  <form [formGroup]="eventEditForm" novalidate>
                    <div class="form-group">
                      <mat-radio-group  [(ngModel)]="selectedStatus" formControlName="completed" required="true">
                        <div class="card mb-0">
                          <mat-radio-button class="radioBtns" [value]="1" unchecked required="true">
                            <div class="media boxImg">
                              <img class="mr-3" src="assets/images/profileImg.jpeg" alt="Generic placeholder image">
                              <div class="media-body mediaCntnt">
                                <h5 class="mt-0">Sarah Smith</h5>
                                <ul class="d-flex">
                                  <li class="ageText"> <strong>Age:</strong> 25</li>
                                  <li class="ageText"> <strong>Gender:</strong> Female</li>
                                </ul>
                              </div>
                            </div>
                          </mat-radio-button>
                        </div><br>

                        <div class="card mb-0">
                          <mat-radio-button class="radioBtns" [value]="2">
                            <div class="media boxImg">
                              <img class="mr-3" src="assets/images/list-1.jpeg" alt="Generic placeholder image">
                              <div class="media-body mediaCntnt">
                                <h5 class="mt-0">John Doe</h5>
                                <ul class="d-flex">
                                  <li class="ageText"> <strong>Age:</strong> 29</li>
                                  <li class="ageText"> <strong>Gender:</strong> Male</li>
                                </ul>
                              </div>
                            </div>
                          </mat-radio-button>
                        </div><br>

                        <div class="card mb-0">
                          <mat-radio-button class="radioBtns" [value]="3">
                            <div class="media boxImg">
                              <img class="mr-3" src="assets/images/list-2.jpeg" alt="Generic placeholder image">
                              <div class="media-body mediaCntnt">
                                <h5 class="mt-0">Cara Stevens</h5>
                                <ul class="d-flex">
                                  <li class="ageText"> <strong>Age:</strong> 20</li>
                                  <li class="ageText"> <strong>Gender:</strong> Female</li>
                                </ul>
                              </div>
                            </div>
                          </mat-radio-button>
                        </div><br>

                        <div class="card mb-0">
                          <mat-radio-button class="radioBtns" [value]="4">
                            <div class="media boxImg">
                              <img class="mr-3" src="assets/images/list-2.jpeg" alt="Generic placeholder image">
                              <div class="media-body mediaCntnt">
                                <h5 class="mt-0">Jenish shah</h5>
                                <ul class="d-flex">
                                  <li class="ageText"> <strong>Age:</strong> 22</li>
                                  <li class="ageText"> <strong>Gender:</strong> Female</li>
                                </ul>
                              </div>
                            </div>
                          </mat-radio-button>
                        </div><br>
                      </mat-radio-group>
                    </div>
                  </form>
                  <div class="saveBtn">
                    <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Back</button>
                    <button mat-raised-button matStepperNext  color="primary"
                      >Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="HFormGroup3">
                <form action="" [formGroup]="HFormGroup3">
                  <div class="matSelect">
                    <ng-template matStepLabel>Select Test</ng-template>
                    
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">

                        <mat-form-field  class="example-full-width" appearance="outline">
                          <mat-label>Category</mat-label>
                          <mat-select formControlName="category1" required="true" >
                          <mat-option [value]="'test1'">
                            Blood Test
                          </mat-option>
                          <mat-option [value]="'test2'">
                            Immunologic Blood Test
                          </mat-option>
                          <mat-option [value]="'test3'">
                            Glucose Tolerance Test
                          </mat-option>
                          <mat-option [value]="'test4'">
                            Epinephrine Tolerance Test
                          </mat-option>
                          <mat-option [value]="'test5'">
                            Diabeties Test
                          </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                          <mat-form-field  class="example-full-width"  appearance="outline">
                            <mat-label>Sub Category</mat-label>
                            <mat-select formControlName="subcategory1" required="true"
                            > 
                            <mat-option [value]="'test1'">
                              Blood Sugar Test
                            </mat-option>
                            <mat-option [value]="'test2'">
                              Blood Pressure
                            </mat-option>
                            <mat-option [value]="'test3'">
                              CT Scan 
                            </mat-option>
                            <mat-option [value]="'test4'">
                              Eco
                            </mat-option>
                            <mat-option [value]="'test5'">
                              Thyroid Test
                            </mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="saveBtn">
                    <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Back</button>
                    <button mat-raised-button color="primary" [disabled]="!HFormGroup3.valid" type="submit">Submit</button>
                  </div>
                </form>
              </mat-step> -->
              
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
