<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/pages/bg-03.png);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h2 class="welcome-msg"> Reset Password </h2>
            <!-- <p class="auth-signup-text text-muted">Let Us Help You</p> -->
            <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
                <div class="row">
                    <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required autocomplete="off">
                        <mat-icon matSuffix (click)="hide = !hide">
                          {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="authForm.get('password').hasError('required') || authForm.get('password').touched">
                          The password must contain at least 8 characters, 1 Uppercase letter, 1 Lowercase letter,1 Number and 1 Special Character like @ % & *
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput formControlName="cpassword" [type]="chide ? 'password' : 'text'" required autocomplete="off">
                        <mat-icon matSuffix (click)="chide = !chide">
                          {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error >
                          <div *ngIf="authForm.get('cpassword').hasError('required')">
                            Confirm Password is required
                          </div>
                          <div *ngIf="fun.cpassword.errors && fun.cpassword.errors.confirmedValidator">New Password and Confirm
                            Password must be match.</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div *ngIf="success_message"  class="alert alert-success alert-dismissible">
                    <strong> Reset Successfully! </strong>
                  </div>
                  <p *ngIf="error_message" class="alert alert-danger alert-dismissible">
                    <strong>{{error_message_text}}</strong>
                  </p>
              <div class="container-auth-form-btn mt-5">
                <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                  Reset My Password
                </button>
              </div>
              <div class="w-full p-t-25 text-center">
                <div>
                  <a routerLink="/authentication/signin" class="txt1">
                    Login?
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  