<section class="content">
   <div class="content-block">
      <div class="block-header">
         <!-- breadcrumb -->
         <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'My Profile'"></app-breadcrumb>
      </div>
      <!-- Your content goes here  -->
      <div class="row clearfix remov_scroll">
         <div class="col-lg-12 col-md-12">
            <div class="card">
               <mat-tab-group>
                  <mat-tab>
                     <ng-template mat-tab-label>
                        <div class="tabColor">My Profile</div>
                        <!-- <div>
                            <button>
                                <mat-icon class="example-tab-icon msr-2">edit</mat-icon>
                            </button>
                            </div> -->
                     </ng-template>
                     <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="project_widget" *ngFor="let data of userData">
                           <!-- <div class="header">
                               <h2><strong>About</strong></h2>
                               </div> -->
                           <div class="body profileEdit">
                              <div class="media mediapatient d-flex mt-0 ml-10 align-items-center">
                                 <!-- <img class="mr-3" src="{{data.imgName?data.imgName:'demouser.png'}}" alt="Generic placeholder image"> -->
                                 <img class="mr-3" src="{{data.imgName?imageURL+data.imgName:imageURL+'demouser.png'}}" alt="Generic placeholder image">
                                 <div class="media-body patientContent">
                                    <h3 class="mt-0">{{data.first_name}}</h3>
                                    <p>+91-{{data.mobile}}</p>
                                    <p>{{data.email}}</p>
                                 </div>
                              </div>
                              <div>
                                 <a class="editIcon" [routerLink]="['/doctors/edit-profile']">
                                    <mat-icon class="example-tab-icon msr-2 editico">edit_copy</mat-icon>
                                 </a>
                              </div>
                           </div>
                           <div class="body">
                              <div class="row">
                                 <div class="col-lg-3 col-md-6">
                                    <b class="">Alternate Mobile No.</b>
                                    <p>{{data.alternate_mobile!='' && data.alternate_mobile!=null ? data.alternate_mobile : '-'}}</p>
                                 </div>
                                 <div class="col-lg-3 col-md-6">
                                    <b class="">Gender </b>
                                    <p>{{data.gender}}</p>
                                 </div>
                                 <div class="col-lg-3 col-md-6">
                                    <b class="">Date of Birth </b>
                                    <p>{{data.date_of_birth | date:'dd/MM/yyyy'}}</p>
                                 </div>
                                 <div class="col-lg-3 col-md-6">
                                    <b class="">Age </b>
                                    <p>{{data.age?data.age : '-' }}</p>
                                 </div>

                                 <!-- <div class="col-lg-3 col-md-6">
                                     <b class="">Company Document </b>
                                     <p><button class="btn btn-outline-primary font-13" [routerLink]="['']">
                                        View document
                                        </button>
                                     </p>
                                  </div> -->
                                 <div class="col-lg-3 col-md-6">
                                    <b class="">Address </b>
                                    <p>{{data.address??'-'}}</p>
                                 </div>
                                 <div class="col-lg-3 col-md-6">
                                    <b class="">Pin Code </b>
                                    <p>{{data.pin_code??'-'}}</p>
                                 </div>
                                 <div class="col-lg-3 col-md-6">
                                    <b class="">Experience </b>
                                    <p>{{data.experience_in_year??'-'}}</p>
                                 </div>
                                 <div class="col-lg-3 col-md-6">
                                    <b class="">Degrees </b>
                                    <p>{{allDoctorDegree}}</p>
                                 </div>
                                 <div class="col-lg-3 col-md-6">
                                    <b class="">Speciality </b>
                                    <p>{{allDoctorspecilaity}}</p>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>
                  </mat-tab>
                  <mat-tab>
                     <ng-template mat-tab-label>
                        <!-- <mat-icon class="example-tab-icon msr-2">password</mat-icon> -->
                        <div class="tabColor">Change Password</div>
                     </ng-template>
                     <!-- <div class="header">
                         <h2>
                           <strong>Security</strong> Settings</h2>
                         </div> -->
                         <div class="body changePswrd">
                           <div class="example-container">
   
                              <form class="row validate-form" [formGroup]="profilepassform"
                                 (ngSubmit)="onSubmit(profilepassform.value)">
   
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                       <mat-label>Old Password</mat-label>
                                       <input matInput formControlName="opassword" [type]="ohide ? 'password' : 'text'"
                                          required>
                                       <mat-icon matSuffix (click)="ohide = !ohide">
                                          {{ohide ? 'visibility_off' : 'visibility'}}
                                       </mat-icon>
                                       <mat-error *ngIf="profilepassform.get('opassword').hasError('required')">
                                          Old Password is required
                                       </mat-error>
                                    </mat-form-field>
                                 </div>
   
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                       <mat-label>New Password</mat-label>
                                       <input matInput formControlName="npassword" [type]="hide ? 'password' : 'text'"
                                          required>
                                       <mat-icon matSuffix (click)="hide = !hide">
                                          {{hide ? 'visibility_off' : 'visibility'}}
                                       </mat-icon>
                                       <mat-error
                                          *ngIf="profilepassform.get('npassword').hasError('required') || profilepassform.get('npassword').touched">
                                          The password must contain at least 8 characters, 1 Uppercase letter, 1 Lowercase
                                          letter,1 Number and 1 Special Character like @ % & *
                                       </mat-error>
                                    </mat-form-field>
                                 </div>
   
                                 <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                       <mat-label>Confirm Password</mat-label>
                                       <input matInput formControlName="cpassword" [type]="chide ? 'password' : 'text'"
                                          required>
                                       <mat-icon matSuffix (click)="chide = !chide">
                                          {{chide ? 'visibility_off' : 'visibility'}}
                                       </mat-icon>
                                       <mat-error *ngIf="profilepassform.get('cpassword').hasError('required')">
                                          Confirm Password is required
                                       </mat-error>
                                    </mat-form-field>
                                 </div> -->
   
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                       <mat-label>Confirm Password</mat-label>
                                       <input matInput formControlName="cpassword" [type]="chide ? 'password' : 'text'"
                                          required>
                                       <mat-icon matSuffix (click)="chide = !chide">
                                          {{chide ? 'visibility_off' : 'visibility'}}
                                       </mat-icon>
                                       <mat-error *ngIf="fun.cpassword.touched && fun.cpassword.invalid">
                                          <div *ngIf="success_message" class="alert alert-success alert-dismissible">
                                             <strong> Password Update Successfully! </strong>
                                          </div>
                                          <!-- <div *ngIf="error_message"  class="alertalert-danger alert-dismissible">
                                        <strong>{{error_message_text}}</strong>
                                     </div> -->
                                          <div *ngIf="fun.cpassword.errors.confirmedValidator">New Password and Confirm
                                             Password must be match.</div>
                                       </mat-error>
                                    </mat-form-field>
                                 </div>
   
                                 <div class="container-auth-form-btn mt-5">
                                    <button mat-flat-button color="primary" class="btn-space" type="submit">
                                       Save
                                    </button>
                                 </div>
                              </form>
   
                           </div>
                        </div>
                  </mat-tab>
               </mat-tab-group>
            </div>
         </div>
      </div>
   </div>
</section>