<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/pages/bg-03.png);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h2 class="welcome-msg">OTP Confirmation </h2>
            <h4>OTP send to Email/Mobile</h4>
            <!-- <p class="auth-signup-text text-muted">Let Us Help You</p> -->
            <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Submit OTP</mat-label>
                  <input matInput formControlName="emailotp" required>
                  <mat-icon matSuffix>chat</mat-icon>
                  <mat-error *ngIf="authForm.get('emailotp').hasError('required') || authForm.get('emailotp').touched">
                    Please enter a valid OTP
                  </mat-error>
                </mat-form-field>
              </div>
              </div>
              <div *ngIf="success_message"  class="alert alert-success alert-dismissible">
                <strong> OTP match Successfully ! </strong>
              </div>
              <p *ngIf="error_message" class="alert alert-danger alert-dismissible">
                <strong>OTP not matched!</strong>
              </p> 
              <div class="container-auth-form-btn mt-5">
                <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                  Submit OTP
                </button>
              </div>
              <div class="w-full p-t-25 text-center">
                <div>
                  <p class="text-muted" *ngIf="displayTimer">{{ display }} {{prefix_text}}</p>
                  
                  <p *ngIf="resendOtp" class="text-muted mb-0">Don't receive an OTP?
                    <a mat-flat-button color="basic" class="text-dark ps-2" (click)="resend_otp()">Resend OTP</a></p>
                  <!-- <a  class="txt1 cursor-pointer" (click)="resend_otp()">
                   Resend OTP 
                  </a> -->
                </div>
                <div>
                  <a routerLink="/authentication/signin" class="txt1">
                    Login?
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  