<section class="content">
   <div class="content-block">
      <div class="block-header">
         <!-- breadcrumb -->
         <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Radiology List'"></app-breadcrumb>
      </div>
      <!-- Basic Examples -->
      <div class="row clearfix">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
               <div class="body">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="body table-responsive">
                           <div class="row align-items-center">
                              <div class="col-md-6">
                                 <mat-form-field class="example-full-width my-0" appearance="outline">
                                    <mat-label>Search</mat-label>
                                    <input matInput (keyup)="applyFilter($event)"  autocomplete="off">
                                 </mat-form-field>
                              </div>
                              <div class="col-md-6 text-end">
                                <ul class="header-buttons text-end">
                                   <li>
                                      <button mat-raised-button color="primary" type="button" [routerLink]="['../add-radiology']">Add Radiology</button>
                                   </li>
                                </ul>
                             </div>
                           </div>
                           <table mat-table [dataSource]="dataSource3" class="w-100" matSort
                           #empTbSort="matSort">
                              <!-- No Column -->
                              <ng-container matColumnDef="no">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                                <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }}
                                </td>
                              </ng-container>
                              <!-- Image Column -->
                              <ng-container matColumnDef="profile_image">
                                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                                 <td mat-cell *matCellDef="let element" class="table-img"><img width="40" src="{{ element.profile_image?imageURL+element.profile_image:imageURL+'demouser.png'}}" /></td>
                              </ng-container>
                              <!-- First Name Column -->
                              <ng-container matColumnDef="first_name">
                                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Radiology Name </th>
                                 <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                              </ng-container>
                             
                              <!-- Mobile No. Column -->
                              <ng-container matColumnDef="mobile">
                                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone No. </th>
                                 <td mat-cell *matCellDef="let element"> {{element.mobile ??'-'}}</td>
                              </ng-container>
                              <!-- Status Column -->
                              <ng-container matColumnDef="status">
                                 <th mat-header-cell *matHeaderCellDef> Status </th>
                                 <td mat-cell *matCellDef="let element">
                                    <label class="badge col-{{element.status}}">
                                   {{element.status}} 
                                 </label></td>
                              </ng-container>
                              <!-- Email Column -->
                              <ng-container matColumnDef="email">
                                 <th mat-header-cell *matHeaderCellDef> Email </th>
                                 <td mat-cell *matCellDef="let element"> {{element.email??'-'}} </td>
                              </ng-container>

                             <!-- Address Column -->
                             <ng-container matColumnDef="address">
                                <th mat-header-cell *matHeaderCellDef> Address </th>
                                <td mat-cell *matCellDef="let element"> {{element.address??'-'}} </td>
                             </ng-container>
                              <!-- Action Column -->

                               <!-- Pin Column -->
                               <ng-container matColumnDef="pin_code">
                                <th mat-header-cell *matHeaderCellDef> Pin Code </th>
                                <td mat-cell *matCellDef="let element"> {{element.pin_code??'-'}} </td>
                             </ng-container>
                              <ng-container matColumnDef="actions">
                                 <th mat-header-cell *matHeaderCellDef> Action</th>
                                 <td mat-cell *matCellDef="let element">
                                    <span>
                                      <!-- <span class="d-flex">
                                         <button class="btn tblActnBtn h-auto eyeIcon checkIcon" matTooltip="Approve" (click)="showApproveDialog()">
                                             <i class="material-icons">check_circle_outline</i>
                                           </button> <button class="btn tblActnBtn h-auto eyeIcon cancelIcon" matTooltip="Disapproved" (click)="showCancelDialog()">
                                               <i class="material-icons">highlight_off</i>
                                             </button>
                                       </span> -->
                                       <button class="btn tblActnBtn h-auto" (click)="open(mymodal); getdeleteID(element.id)">
                                         <i class="material-icons">delete</i>
                                       </button>
                                     </span>
                                 </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                           </table>
                           <mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons>
                          </mat-paginator>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>



   <!-- Delete Pop -->

  <ng-template #mymodal let-modal>
     <div class="modal-header">
       <h4 class="modal-title" id="modal-basic-title">Delete Confirmation</h4>
       <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
         <span aria-hidden="true">×</span>
       </button> -->
     </div>
     <div class="modal-body">
      Are You sure you want to delete?
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); DeleteDoctorlabRadio()">Ok</button>
     
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
   </ng-template>


</section>