<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Safe Tablets'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-sm-12">
                <div class="ngxTableHeader">
                  <ul class="header-buttons-left ms-0 mb-0">
                    <li class="dropdown">
                      <h2>
                        <strong>Safe Tablets</strong>
                      </h2>
                    </li>
                    <li class="dropdown m-l-20">
                      <mat-form-field class="example-full-width my-0" appearance="outline">
												<mat-label>Search</mat-label>
												<input matInput (keyup)="filterDatatable($event)" autocomplete="off">
											</mat-form-field>
                      <!-- <label for="search-input">
                        <i class="material-icons search-icon">search</i>
                      </label>
                      <input placeholder="Search" type="text" class="browser-default search-field"
                        (keyup)='filterDatatable($event)' aria-label="Search box"> -->
                    </li>
                  </ul>
                </div>
                <ngx-datatable #table class="material table-responsive bolder_first" [rows]="rows" [columns]="columns"
                  [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                  [rowHeight]="'auto'" [limit]="20" [scrollbarH]="false" [scrollbarV]="false">
                  <!-- user image -->
                  <ngx-datatable-column name="Condition" prop="problem"></ngx-datatable-column>
                  <ngx-datatable-column name="Safe Over The Counter Medications to Take During Pregnancy "
                    prop="medicinename"></ngx-datatable-column>
                </ngx-datatable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>