<div>
   <h5 mat-dialog-title>Reschedule Appointment</h5>
   <div mat-dialog-content class="">
      <form [formGroup]="resheduleForm" (ngSubmit)="onSubmitClick()">
      <div class="text-inside mt-4 ">
         <div class="row scroll">
            <div class="col-md-8 col-sm-12 m-auto mb-3">
               <ngx-calendar [options]="calendarOptions" formControlName="time_set"   (onChooseDate)="onChooseDate($event)" [events]="calendarEvents"></ngx-calendar>
            </div>
            <div class="col-md-8 col-sm-12 m-auto">
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 pe-0">
                     <!-- <label class="badge bg-blue">Morning</label> -->
                     <mat-button-toggle-group class="manual mt-2">
                        <mat-button-toggle class="timeBtn" value="bold" *ngFor=" let slotData of availableSlot " (click)="slotTimeselected(slotData.Stime)">{{slotData.Stime}}</mat-button-toggle>  
                        <mat-button-toggle class="timeBtn" value="bold" *ngFor=" let slotData of afternoonSlot " (click)="slotTimeselected(slotData.Stime)">{{slotData.Stime}}</mat-button-toggle> 
                        <mat-button-toggle class="timeBtn" value="bold" *ngFor=" let slotData of eveningSlots " (click)="slotTimeselected(slotData.Stime)">{{slotData.Stime}}</mat-button-toggle> 
                        
                       
                     </mat-button-toggle-group> 
                  </div>
                 
               </div>
            </div>
            <div class="col-md-8 col-sm-12 m-auto">
               <h6 class="mb-0">Reason Of Reschedule</h6>
               <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Reason of Reschedule</mat-label>
                  <input matInput formControlName="reschedule" required autocomplete="off">
                  <mat-error *ngIf="resheduleForm.get('reschedule').hasError('required')">
                     Reason Of Reschedule is required
                  </mat-error>
               </mat-form-field>
            </div>
            <div class="btn-sec pb-5 text-center">
               <button class="btn-space" mat-raised-button color="primary" [disabled]="!resheduleForm.valid " (click)="showResheduleDialog()">Submit</button>
               <button type="button" mat-button (click)="closeDialog()">Cancel</button>
            </div>
         </div>
         
      </div>
      </form>
   </div>
</div>