<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Radiology History'"></app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ngxTableHeader">
                                        <ul class="header-buttons-left ms-0 mb-0">
                                            <li class="dropdown me-3">
                                                <h2><strong>Booking History</strong></h2>
                                            </li>
                                            <li>
                                                <mat-form-field class="example-full-width searchInput"
                                                    appearance="outline">
                                                    <mat-label>Search</mat-label>
                                                    <input matInput (keyup)="applyFilter($event)" placeholder="Search"
                                                        autocomplete="off">
                                                </mat-form-field>
                                            </li>
                                        </ul>
                                        <!-- <ul class="header-buttons">
                                            <li>
                                                <button class="me-2 border-0"
                                                    (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name'})"
                                                    matTooltip="Export as xlsx"><img src="assets/images/icon/xlsx.png"
                                                        alt=""></button>
                                                <button class=" border-0" (click)="exporter.exportTable('csv')"><img
                                                        src="assets/images/icon/csv.png" alt=""
                                                        matTooltip="Export as csv"></button>
                                            </li>
                                        </ul> -->
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="body table-responsive pdf_sign">
                                            <table mat-table matTableExporter [dataSource]="dataSource3" class="w-100"
                                                matSort #empTbSort="matSort">
                                                <!-- No Column -->
                                                <ng-container matColumnDef="no">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No. </th>
                                                    <td mat-cell *matCellDef="let element; let i = index;"> {{ i + 1 }}
                                                    </td>
                                                </ng-container>
                                                <!-- Order ID Column -->
                                                <ng-container matColumnDef="appointment_id">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking ID
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.appointment_id}}
                                                    </td>
                                                </ng-container>
                                                <!-- patient Name Column -->
                                                <ng-container matColumnDef="patient_name">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.patient_name}}
                                                    </td>
                                                </ng-container>
                                                <!-- Clinic. Name Column -->
                                                <ng-container matColumnDef="lab_name">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Radiology
                                                    
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.lab_name}} 
                                                        <!-- <b><small>{{element.doctor??'Self'}}</small></b> -->
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="lab_address">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Radiology Address
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.lab_address??'-'}}
                                                    </td>
                                                </ng-container>
                                             
                                                <!-- Time Column -->
                                                <ng-container matColumnDef="time_slot">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        Time Slot
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.time_slot}}
                                                    </td>
                                                </ng-container>
                                                <!-- test_name Column -->
                                                <ng-container matColumnDef="test_name">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Test Name
                                                    </th>
                                                    <td mat-cell *matCellDef="let element ; let i = index ;">

                                                        <!-- <div *ngFor="let testfinal of element.cart_item">
                                                            {{testfinal.test_name+','}}
                                                        </div> -->
                                                        <div *ngFor="let testfinal of element.cart_item">
                                                            {{( element.cart_item && element.cart_item.length > 1) ? testfinal.test_name+',' : testfinal.test_name}}
                                                        </div>
                                                    </td>
                                                </ng-container>
                                                <!-- Date Column -->
                                                <ng-container matColumnDef="appointment_date">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Appointment
                                                        Date
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.appointment_date | date : 'dd/MM/yyyy'}}
                                                    </td>
                                                </ng-container>
                                                <!-- Status Column -->
                                                <ng-container matColumnDef="booking_status">
                                                    <th mat-header-cell *matHeaderCellDef> Appointment Status</th>
                                                    <td mat-cell *matCellDef="let element"><label
                                                            class="badge col-{{element.booking_status}}">
                                                            {{element.booking_status=="Visited" ? "Arrived": element.booking_status}}
                                                        </label>
                                                    </td>
                                                </ng-container>
                                                <!-- Payment Status Column -->
                                                <ng-container matColumnDef="payment_status">
                                                    <th mat-header-cell *matHeaderCellDef> Payment Status </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <span class="badge badge-{{element.payment_status=='Success'?'Completed':element.payment_status}}">
                                                            {{(element.payment_status == 'Successful' ||
                                                            element.payment_status == 'Success') ? "Success": (
                                                            (element.payment_status == 'Pending') ? "Pending" : (
                                                            (element.payment_status == 'Aborted') ? "Failed" : ""))
                                                            }}</span>
                                                    </td>
                                                </ng-container>
                                                <!-- Bank Status Column -->
                                                <ng-container matColumnDef="banking_status">
                                                    <th mat-header-cell *matHeaderCellDef> Bank Status </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <span class="badge badge-{{element.banking_status}}">
                                                            {{element.banking_status}}</span>
                                                    </td>
                                                </ng-container>
                                                <!-- Medwire Status Column -->
                                                <!-- <ng-container matColumnDef="medwire_status">
                                                    <th mat-header-cell *matHeaderCellDef> Medwire Status </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <span class="badge badge-{{element.medwire_status}}">
                                                            {{element.medwire_status}}</span>
                                                    </td>
                                                </ng-container> -->
                                                <!-- Payment ID Column -->
                                                <ng-container matColumnDef="payment_id">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment ID
                                                    </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.payment_id??'-'}}
                                                    </td>
                                                </ng-container>
                                                <!-- payment Column -->
                                                <ng-container matColumnDef="grand_total">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">₹ {{element.grand_total}}
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                            <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons>
                                            </mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>