<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Pregnancy Timeline'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="body">
                        <!--First-Trimester-->
                        <div class="pregnancyTimeline mt-2">
                            <h2>Stages of Child Growth Month-by-Month in Pregnancy</h2>
                            <div  *ngIf="firsttrimester">
                                <h4 class="mb-3">First trimester</h4>
                            <p>The first trimester will span from conception to 12 weeks. This is generally the first three months of pregnancy. During this trimester, the fertilized egg will change from a small grouping of cells to a fetus that is starting to have a baby’s features.</p>
                            </div>
                           
                            <div class="card pragnancyCard"  *ngIf="firsttrimester">
                                <!--1 Month-->
                                <div class="media mediaChild" *ngIf="first_month">
                                    <img class="mr-3 mb-3" src="assets/images/pregancytimeline/1mnthimg.png" alt="Generic placeholder image">
                                    <div class="media-body childHeading">
                                        <h5 class="mt-0">Month 1 (weeks 1 through 4)</h5>
                                        <p>As the fertilized egg grows, a water-tight sac forms around it, gradually
                                            filling with fluid. This is called the amniotic sac, and it helps cushion
                                            the growing embryo.

                                            During this time, the placenta also develops. The placenta is a round, flat
                                            organ that transfers nutrients from the mother to the fetus, and transfers
                                            wastes from the fetus. Think of the placenta as a food source for the fetus
                                            throughout your pregnancy.

                                            In these first few weeks, a primitive face will take form with large dark
                                            circles for eyes. The mouth, lower jaw and throat are developing. Blood
                                            cells are taking shape, and circulation will begin. The tiny "heart" tube
                                            will beat 65 times a minute by the end of the fourth week.

                                            By the end of the first month, the fetus is about 1/4 inch long – smaller
                                            than a grain of rice.</p>
                                    </div>
                                </div>

                                <!--2 Month-->
                                <div class="media mediaChild" *ngIf="second_month">
                                    <img class="mr-3 mb-3" src="assets/images/pregancytimeline/2mnthimg.png" alt="Generic placeholder image">
                                    <div class="media-body childHeading">
                                        <h5 class="mt-0">Month 2 (weeks 5 through 8)</h5>
                                        <p>Facial features continue to develop. Each ear begins as a little fold of skin at the side of the head. Tiny buds that eventually grow into arms and legs are forming. Fingers, toes and eyes are also forming.

                                            The neural tube (brain, spinal cord and other neural tissue of the central nervous system) is well formed now. The digestive tract and sensory organs begin to develop too. Bone starts to replace cartilage.
                                            
                                            The head is large in proportion to the rest of the body at this point. At about 6 weeks, a heartbeat can usually be detected.
                                            
                                            After the 8th week, healthcare providers refer to it as a fetus instead of an embryo.
                                            
                                            By the end of the second month, the fetus is about 1 inch long and weighs about 1/30 of an ounce.</p>
                                    </div>
                                </div>

                                <!--3 Month-->
                                <div class="media mediaChild" *ngIf="third_month">
                                    <img class="mr-3 mb-3" src="assets/images/pregancytimeline/3mnthimg.png" alt="Generic placeholder image">
                                    <div class="media-body childHeading">
                                        <h5 class="mt-0">Month 3 (weeks 9 through 12)</h5>
                                        <p>The arms, hands, fingers, feet and toes are fully formed. At this stage, the fetus is starting to explore a bit by doing things like opening and closing its fists and mouth. Fingernails and toenails are beginning to develop and the external ears are formed. The beginnings of teeth are forming under the gums. The reproductive organs also develop, but gender is still difficult to distinguish on ultrasound.

                                            By the end of the third month, the fetus is fully formed. All the organs and limbs (extremities) are present and will continue to develop in order to become functional. The circulatory and urinary systems are also working and the liver produces bile.
                                            
                                            At the end of the third month, the fetus is about 4 inches long and weighs about 1 ounce.
                                            
                                            Since the most critical development has taken place, your chance of miscarriage drops considerably after three months.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Second-Trimester-->
                        <div class="pregnancyTimeline" *ngIf="secondtrimester">
                            <div >
                                <h4 class="mb-3">Second trimester</h4>
                                <p>This middle section of pregnancy is often thought of as the best part of the experience. 
                                    By this time, any morning sickness is probably gone and the discomfort of early pregnancy has faded. The fetus will start to develop facial features during this month. You may also start to feel movement as the fetus flips and turns in the uterus. During this trimester, many people find out whether their baby will be designated male or female at birth. This is typically done during an anatomy scan 
                                    (an ultrasound that checks physical development) around 20 weeks.</p>
                            </div>
                           
                            <div class="card pragnancyCard" *ngIf="secondtrimester">
                                <!--4 Month-->
                                <div class="media mediaChild"  *ngIf="fourth_month">
                                    <img class="mr-3 mb-3" src="assets/images/pregancytimeline/4mnthimg.png" alt="Generic placeholder image">
                                    <div class="media-body childHeading">
                                        <h5 class="mt-0">Month 4 (weeks 13 through 16)</h5>
                                        <p>The fetal heartbeat may now be audible through an instrument called a doppler. The fingers and toes are well-defined. Eyelids, eyebrows, eyelashes, nails and hair are formed. Teeth and bones become denser. The fetus can even suck his or her thumb, yawn, stretch and make faces.

                                            The nervous system is starting to function. The reproductive organs and genitalia are now fully developed, and your doctor can see on ultrasound if the fetus will be designated male or female at birth.
                                            
                                            By the end of the fourth month, the fetus is about 6 inches long and weighs about 4 ounces.</p>
                                    </div>
                                </div>

                                <!--5 Month-->
                                <div class="media mediaChild" *ngIf="five_month">
                                    <img class="mr-3 mb-3" src="assets/images/pregancytimeline/5mnthimg.png" alt="Generic placeholder image">
                                    <div class="media-body childHeading">
                                        <h5 class="mt-0">Month 5 (weeks 17 through 20)</h5>
                                        <p>At this stage, you may begin to feel the fetus moving around. The fetus is developing muscles and exercising them. This first movement is called quickening and can feel like a flutter.

                                            Hair begins to grow on the head. The shoulders, back and temples are covered by a soft fine hair called lanugo. This hair protects the fetus and is usually shed at the end of your baby's first week of life.
                                            
                                            The skin is covered with a whitish coating called vernix caseosa. This "cheesy" substance is thought to protect fetal skin from the long exposure to the amniotic fluid. This coating is shed just before birth.
                                            
                                            By the end of the fifth month, the fetus is about 10 inches long and weighs from 1/2 to 1 pound.</p>
                                    </div>
                                </div>

                                <!--6 Month-->
                                <div class="media mediaChild" *ngIf="six_month">
                                    <img class="mr-3 mb-3" src="assets/images/pregancytimeline/6mnthimg.png" alt="Generic placeholder image">
                                    <div class="media-body childHeading">
                                        <h5 class="mt-0">Month 6 (weeks 21 through 24)</h5>
                                        <p>If you could look inside the uterus right now, you would see that the fetus's skin is reddish in color, wrinkled and veins are visible through translucent skin. The finger and toe prints are visible. In this stage, the eyelids begin to part and the eyes open.

                                            The fetus responds to sounds by moving or increasing the pulse. You may notice jerking motions if the fetus hiccups.
                                            
                                            If born prematurely, your baby may survive after the 23rd week with intensive care.
                                            
                                            By the end of the sixth month, the fetus is about 12 inches long and weighs about 2 pounds.</p>
                                    </div>
                                </div>

                                <!--7 Month-->
                                <div class="media mediaChild" *ngIf="seven_month">
                                    <img class="mr-3 mb-3" src="assets/images/pregancytimeline/7mnthimg.png" alt="Generic placeholder image">
                                    <div class="media-body childHeading">
                                        <h5 class="mt-0">Month 7 (weeks 25 through 28)</h5>
                                        <p>The fetus continues to mature and develop reserves of body fat. At this point, hearing is fully developed. The fetus changes position frequently and responds to stimuli, including sound, pain and light. The amniotic fluid begins to diminish.

                                            If born prematurely, your baby would be likely to survive after the seventh month.
                                            
                                            At the end of the seventh month, the fetus is about 14 inches long and weighs from 2 to 4 pounds.</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--Third-Trimester-->
                        <div class="pregnancyTimeline" *ngIf="thirdtrimester">
                            <div >
                                <h4 class="mb-3">Third trimester</h4>
                                <p>This is the final part of your pregnancy. You may be tempted to 
                                    start the countdown till your due date and hope that it would come early, but each week of this final stage of development helps the fetus prepare for birth. Throughout the third trimester, the fetus gains weight quickly, adding body fat that will help after birth.
    
                                    Remember, even though popular culture only mentions nine months of pregnancy, you may actually be pregnant for 10 months. The typical, full-term pregnancy is 40 weeks, which can take you into a tenth month. It’s also possible that you can go past your due date by a week or two (41 or 42 weeks). Your healthcare provider will monitor you closely as you approach your due date. If you pass your due date, and don’t go into spontaneous labor, your provider may induce you. This means that medications will be used to make you go into labor and have the baby. Make sure to talk to 
                                    your healthcare provider during this trimester about your birth plan.</p>
                            </div>
                            
                            <div class="card pragnancyCard">
                                <!--8 Month-->
                                <div class="media mediaChild" *ngIf="eight_month">
                                    <img class="mr-3 mb-3" src="assets/images/pregancytimeline/8mnthimg.png" alt="Generic placeholder image">
                                    <div class="media-body childHeading">
                                        <h5 class="mt-0">Month 8 (weeks 29 through 32)</h5>
                                        <p>The fetus continues to mature and develop reserves of body fat. You may notice more kicking. The brain developing rapidly at this time, and the fetus can see and hear. Most internal systems are well developed, but the lungs may still be immature.

                                            The fetus is about 18 inches long and weighs as much as 5 pounds.</p>
                                    </div>
                                </div>

                                <!--9 Month-->
                                <div class="media mediaChild" *ngIf="nine_month">
                                    <img class="mr-3 mb-3" src="assets/images/pregancytimeline/9mnthimg.png" alt="Generic placeholder image">
                                    <div class="media-body childHeading">
                                        <h5 class="mt-0">Month 9 (weeks 33 through 36)</h5>
                                        <p>During this stage, the fetus continues to grow and mature. The lungs are close to being fully developed at this point.

                                            The fetus has coordinated reflexes and can blink, close the eyes, turn the head, grasp firmly, and respond to sounds, light and touch.
                                            
                                            The fetus is about 17 to 19 inches long and weighs from 5 ½ pounds to 6 ½ pounds.</p>
                                    </div>
                                </div>

                                <!--10 Month-->
                                <div class="media mediaChild" *ngIf="ten_month">
                                    <img class="mr-3 mb-3" src="assets/images/pregancytimeline/9mnthimg.png" alt="Generic placeholder image">
                                    <div class="media-body childHeading">
                                        <h5 class="mt-0">Month 10 (Weeks 37 through 40)</h5>
                                        <p>In this final month, you could go into labor at any time. You may notice that less movement because space is tight. At this point, The fetus's position may have changed to prepare for birth. Ideally, it's head down in your uterus. You may feel very uncomfortable in this final stretch of time as the fetus drops down into your pelvis and prepares for birth.

                                            Your baby is ready to meet the world at this point. They are about 18 to 20 inches long and weigh about 7 pounds.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>