<section class="content">
    <div class="content-block">
       <div class="block-header">
          <!-- breadcrumb -->
          <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Add Bank Details'"></app-breadcrumb>
       </div>
       <div class="row clearfix">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
             <div class="card">
                <div class="header mx-4">
                   <h2><strong>Add Bank Details</strong></h2>
                </div>
                <div class="body">
                    <form class="row validate-form" [formGroup]="bankdetailForm" (ngSubmit)="onSubmit()">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                           <mat-form-field class="example-full-width mb-3" appearance="outline">
                              <mat-label>Beneficiary Name</mat-label>
                              <input matInput formControlName="beneficiary_name"  [(ngModel)]="beneficiary_name" required >
                              <mat-error *ngIf="bankdetailForm.get('beneficiary_name').hasError('required')">
                                 Beneficiary Name is required
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                           <mat-form-field class="example-full-width mb-3" appearance="outline">
                              <mat-label>Bank Name</mat-label>
                              <mat-select formControlName="bank_name" [(ngModel)]="bank_name" required >
                              <mat-option [value]="'Bank of India'">
                                 Bank of India
                                 </mat-option>
                              <mat-option [value]="'Allahabad Bank'">
                              Allahabad Bank
                              </mat-option>
                              <mat-option [value]="'Andhra Bank'">
                              Andhra Bank
                              </mat-option>
                              <mat-option [value]="'Axis Bank'">
                              Axis Bank
                              </mat-option>
                              <mat-option [value]="'Bank of Bahrain and Kuwait'">
                              Bank of Bahrain and Kuwait
                              </mat-option>
                              <mat-option [value]="'Bank of Baroda'">
                              Bank of Baroda
                              </mat-option>
                           
                              <mat-option [value]="'Bank of India'">
                              Bank of India
                              </mat-option>
                              <mat-option [value]="'Bank of Maharashtra'">
                              Bank of Maharashtra
                              </mat-option>
                              <mat-option [value]="'Canara Bank'">
                              Canara Bank
                              </mat-option>
                              <mat-option [value]="'Central Bank of India'">
                              Central Bank of India
                              </mat-option>
                              <mat-option [value]="'City Union Bank'">
                              City Union Bank
                              </mat-option>
                              <mat-option [value]="'Corporation Bank'">
                              Corporation Bank
                              </mat-option>
                              <mat-option [value]="'Deutsche Bank'">
                              Deutsche Bank
                              </mat-option>
                              <mat-option [value]="'Development Credit Bank'">
                              Development Credit Bank
                              </mat-option>
                              <mat-option [value]="'Dhanlaxmi Bank'">
                              Dhanlaxmi Bank
                              </mat-option>
                              <mat-option [value]="'Federal Bank'">
                              Federal Bank
                              </mat-option>
                              <mat-option [value]="'ICICI Bank'">
                              ICICI Bank
                              </mat-option>
                              <mat-option [value]="'IDBI Bank'">
                              IDBI Bank
                              </mat-option>
                              <mat-option [value]="'Indian Bank'">
                              Indian Bank
                              </mat-option>
                              <mat-option [value]="'Indian Overseas Bank'">
                              Indian Overseas Bank
                              </mat-option>
                              <mat-option [value]="'IndusInd Bank'">
                              IndusInd Bank
                              </mat-option>
                              <mat-option [value]="'ING Vysya Bank'">
                              ING Vysya Bank
                              </mat-option>
                              <mat-option [value]="'Jammu and Kashmir Bank'">
                              Jammu and Kashmir Bank
                              </mat-option>
                              <mat-option [value]="'Karnataka Bank Ltd'">
                              Karnataka Bank Ltd
                              </mat-option>
                              <mat-option [value]="'Karur Vysya Bank'">
                              Karur Vysya Bank
                              </mat-option>
                              <mat-option [value]="'Kotak Bank'">
                              Kotak Bank
                              </mat-option>
                              <mat-option [value]="'Laxmi Vilas Bank'">
                              Laxmi Vilas Bank
                              </mat-option>
                              <mat-option [value]="'Oriental Bank of Commerce'">
                              Oriental Bank of Commerce
                              </mat-option>
                              <mat-option [value]="'Punjab National Bank - Corporate Banking'">
                              Punjab National Bank - Corporate Banking
                              </mat-option>
                              <mat-option [value]="'Punjab National Bank - Retail Banking'">
                              Punjab National Bank - Retail Banking
                              </mat-option>
                              <mat-option [value]="' Punjab & Sind Bank'">
                              Punjab & Sind Bank
                              </mat-option>
                              <mat-option [value]="'Shamrao Vitthal Co-operative Bank'">
                              Shamrao Vitthal Co-operative Bank
                              </mat-option>
                              <mat-option [value]="'South Indian Bank'">
                              South Indian Bank
                              </mat-option>
                              <mat-option [value]="'State Bank of Bikaner & Jaipur'">
                              State Bank of Bikaner & Jaipur
                              </mat-option>
                              <mat-option [value]="'State Bank of Hyderabad'">
                              State Bank of Hyderabad
                              </mat-option>
                              <mat-option [value]="'State Bank of India'">
                              State Bank of India
                              </mat-option>
                              <mat-option [value]="'State Bank of Mysore'">
                              State Bank of Mysore
                              </mat-option>
                              <mat-option [value]="'State Bank of Patiala'">
                              State Bank of Patiala
                              </mat-option>
                              <mat-option [value]="'State Bank of Travancore'">
                              State Bank of Travancore
                              </mat-option>
                              <mat-option [value]="'Syndicate Bank'">
                              Syndicate Bank
                              </mat-option>
                              <mat-option [value]="'Tamilnad Mercantile Bank Ltd.'">
                              Tamilnad Mercantile Bank Ltd.
                              </mat-option>
                              <mat-option [value]="'UCO Bank'">
                              UCO Bank
                              </mat-option>
                              <mat-option [value]="'Union Bank of India'">
                              Union Bank of India
                              </mat-option>
                              <mat-option [value]="'United Bank of India'">
                              United Bank of India
                              </mat-option>
                              <mat-option [value]="'Vijaya Bank'">
                              Vijaya Bank
                              </mat-option>
                              <mat-option [value]="'Yes Bank Ltd'">
                              Yes Bank Ltd
                              </mat-option>
                              
                              </mat-select>
                              <mat-error *ngIf="bankdetailForm.get('bank_name').hasError('required')">
                              Bank Detail is required
                              </mat-error>
                              </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                           <mat-form-field class="example-full-width mb-3" appearance="outline">
                              <mat-label>Bank Account Number</mat-label>
                              <input matInput type = "number" formControlName="bank_account_number" [(ngModel)]="bank_account_number" required >
                              <mat-error *ngIf="bankdetailForm.get('bank_account_number').hasError('required')">
                                 Bank Account Number is required
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                           <mat-form-field class="example-full-width mb-3" appearance="outline">
                              <mat-label>IFSC Code</mat-label>
                              <input matInput formControlName="ifsc_code" [(ngModel)]="ifsc_code" required >
                              <mat-error *ngIf="bankdetailForm.get('ifsc_code').hasError('required')">
                                 IFSC Code is required
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
                           <mat-form-field class="example-full-width mb-3" appearance="outline">
                              <mat-label>Bank Account Type</mat-label>
                              <mat-select formControlName="bank_account_type" [(ngModel)]="bank_account_type" required >
                                 <mat-option [value]="'Current account'">
                                    Current account
                                 </mat-option>
                                 <mat-option [value]="'Saving account'">
                                    Saving account
                                 </mat-option>
                                 <mat-option [value]="' Salary account'">
                                    Salary account
                                 </mat-option>
                                 <mat-option [value]="'Fixed deposit account'">
                                    Fixed deposit account
                                 </mat-option>
                              </mat-select>
                              <mat-error *ngIf="bankdetailForm.get('bank_account_type').hasError('required')">
                               Bank Account Type is required
                              </mat-error>
                           </mat-form-field>
                        </div>
                        <div class="container-auth-form-btn mt-5">
                           <button mat-flat-button color="primary" class="btn-space" type="submit">
                           Save
                           </button>
                        </div>
                        </form>
                </div>
             </div>
          </div>
       </div>
    </div>
  </section>