<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Dashboard'" [items]="[]" [active_item]="'Patient Details'"></app-breadcrumb>
      </div>
      <!-- Your content goes here  -->
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header">
                  <div class="user-name">Ella Jones</div>
                </div>
                <img src="assets/images/profileimg.jpg" class="user-img" alt="">
                
                <div class="patientInfo p-4 text-start">
                  <small class="text-muted">Email address: </small>
                  <p>john@gmail.com</p>
                  <hr class="lineDevide">
                  <small class="text-muted">Phone: </small>
                  <p>+91-1234567890</p>
                  <hr class="lineDevide">
                  <small class="text-muted">Date of Birth: </small>
                  <p>20/05/1989</p>
                  <hr class="lineDevide">
                  <small class="text-muted">Aadhar Number: </small>
                  <p>XXXX XXXX XXXX</p>
                  <hr class="lineDevide">
                  <small class="text-muted">Address: </small>
                  <p>206, Suchita Indl Estate,Opp Oswal Park</p>
                  <hr class="lineDevide">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <div class="familyInfo p-4">
              <h4>Family Member</h4>
            </div>
            <div class="p-4">
              <div class="col-lg-12 col-md-12">
                  <div class="card mb-3 p-3 pb-0">
                    <div class="media mediaImg">
                      <img class="mr-3" src="assets/images/profilepic.jpg" alt="Generic placeholder image">
                      <div class="media-body mediaBody">
                        <h5 class="mt-0">John Smith</h5>
                        <p>Female</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <small class="text-muted">Email </small>
                        <p>johnsmith@gmail.com</p>
                      </div>
                      <div class="col-lg-4">
                        <small class="text-muted">Aadhar Number </small>
                        <p>XXXX XXXX XXXX</p>
                      </div>
                      <div class="col-lg-4">
                        <small class="text-muted">Age </small>
                        <p>20</p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="card mb-3 p-3 pb-0">
                  <div class="media mediaImg">
                    <img class="mr-3" src="assets/images/profilepic.jpg" alt="Generic placeholder image">
                    <div class="media-body mediaBody">
                      <h5 class="mt-0">Smith Doe</h5>
                      <p>Male</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <small class="text-muted">Email </small>
                      <p>smithdoe@gmail.com</p>
                    </div>
                    <div class="col-lg-4">
                      <small class="text-muted">Aadhar Number </small>
                      <p>XXXX XXXX XXXX</p>
                    </div>
                    <div class="col-lg-4">
                      <small class="text-muted">Age </small>
                      <p>30</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="card mb-3 p-3 pb-0">
                  <div class="media mediaImg">
                    <img class="mr-3" src="assets/images/profilepic.jpg" alt="Generic placeholder image">
                    <div class="media-body mediaBody">
                      <h5 class="mt-0">Sarah Jain</h5>
                      <p>Female</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <small class="text-muted">Email </small>
                      <p>sarah@gmail.com</p>
                    </div>
                    <div class="col-lg-4">
                      <small class="text-muted">Aadhar Number </small>
                      <p>XXXX XXXX XXXX</p>
                    </div>
                    <div class="col-lg-4">
                      <small class="text-muted">Age </small>
                      <p>15</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="card mb-3 p-3 pb-0">
                  <div class="media mediaImg">
                    <img class="mr-3" src="assets/images/profilepic.jpg" alt="Generic placeholder image">
                    <div class="media-body mediaBody">
                      <h5 class="mt-0">John Smith</h5>
                      <p>Female</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <small class="text-muted">Email </small>
                      <p>johnsmith@gmail.com</p>
                    </div>
                    <div class="col-lg-4">
                      <small class="text-muted">Aadhar Number </small>
                      <p>XXXX XXXX XXXX</p>
                    </div>
                    <div class="col-lg-4">
                      <small class="text-muted">Age </small>
                      <p>20</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="card mb-3 p-3 pb-0">
                  <div class="media mediaImg">
                    <img class="mr-3" src="assets/images/profilepic.jpg" alt="Generic placeholder image">
                    <div class="media-body mediaBody">
                      <h5 class="mt-0">John Smith</h5>
                      <p>Female</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <small class="text-muted">Email </small>
                      <p>johnsmith@gmail.com</p>
                    </div>
                    <div class="col-lg-4">
                      <small class="text-muted">Aadhar Number </small>
                      <p>XXXX XXXX XXXX</p>
                    </div>
                    <div class="col-lg-4">
                      <small class="text-muted">Age </small>
                      <p>20</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
